body{

    margin: 0;
    text-align: center;
}



div{
  position:relative;
    background-color:#CCF2F4;
padding-top: 150px;
}

h1{
  font-family: 'Sacramento', cursive;
  font-size: 4.1rem;
  margin: 80px auto 0 auto;
  color: #3EDBF0;


}

h2{  font-family: 'Caveat', cursive;
  font-size: 1.875rem;
  margin-top: 0px;
  color: #495464;
  font-weight: normal;}


  h3{color: #77ACF1}

  a{color:#39A2DB;
  font-size: 20px;
font-family: 'Montserrat', sans-serif;}

p{
  font-family: 'Caveat', cursive;
  font-size: 1.875rem;
  margin-top: 0px;
  color: #495464;

}

.myskill{color: #77ACF1;
font-size: 2.5rem;}
.top-cloud{
  position: absolute;
  top:20px;
  right:200px;

}
.bottom-cloud{
  position: absolute;
  left:150px;
  top: 8.25%;
  height: 200px;
}

.mountain{
  width: 100%;
}

.middle-container{
  padding-top: 70px;
}

.profile{
  padding-top: 70px;

}
.mypic{
  border-radius: 50%;
  border-color:#495464;
  border: 10px solid #495464;

}

.img-skill1{
margin-right: 30px;
  width: 25%;
  float: left;
  border-radius: 50%;
  border-color:#495464;
  border: 10px solid #495464;
}

.img-skill2{
margin-left: 30px;
  width: 25%;
  float: right;
  border-radius: 50%;
  border-color:#495464;
  border: 10px solid #495464;
}
.skill-row{
  padding-top: 0px;
  width: 50%;
  text-align: left;
  margin: 100px auto 100px auto;
}

.bottom-container{
  background-color: #BBBFCA;
}
